<input id="task-id" name="task-id" type="hidden" value="<%=@task.id%>">
<input id="load-canvas" name="load-canvas" type="hidden" value="<%= load_canvas_url%>">
<input id="save-task" name="save-task" type="hidden" value="<%= save_task_url %>">
<div class="controls">

  <div class="d-flex">
    <p class="d-flex me-3 exercise-name-container">

      <label for="fname">Nombre Ejercicio</label>
      <input type="text" id="task-name" name="fname" value="<%= @task.name.present? ? @task.name : "Ingrese el nombre del ejercicio" %>">
    </p>
    <p>
      <button id="addBar" class="h-100">Agregar Barra</button>
    <p>
    <p>
      <button id="open-vector-modal" class="h-100" type="button" data-toggle="modal" data-target="#exampleModal">Agregar Flecha</button>
    </p>
    <p>
      <button id="addText" class="h-100">Agregar Texto</button>
    </p>
    <p>
      <button id="addApoyoFijo" class="h-100">Agregar Apoyo Fijo</button>
    </p>
    </p>
    <p>
      <button id="addApoyoDes" class="h-100">Agregar Apoyo Deslizante</button>
    </p>
    <p>
      <button id="addCircle" class="h-100">Agregar punto de calculo</button>
    </p>
    <p>
      <button id="addMomentum" class="h-100">Agregar momento</button>
    </p>
    <p>
      <button id="addEmpotramiento" class="h-100">Agregar Empotramiento</button>
    </p>
    <p>
      <button id="guardar" class="h-100">Guardar</button>
    </p>

    <%= form_with url: create_image_url, local: true do |form| %>
      <%= form.file_field :image, multiple: false %>
      <%= form.hidden_field :id, value: @task.id %>
      <%= form.submit %>
    <%end %>

    <p>
      <button id="addImage" class="h-100">Agregar Imagen</button>
    </p>

  </div>


</div>

<div class="info-container">

  <p class="instructions-container mb-3">
    <div class="instruction-header"> Instrucciones: </div>
    <div class="instruction-body d-flex">
      <textarea id="instructions" name="w3review" rows="4" cols="50">
        <%= @task.instructions.present? ? @task.instructions : "lorem ipsum" %>
      </textarea>
      <div class="ms-3 align-items-center d-flex w-100 justify-content-center">
        * Cada cuadricula del plano representa 1 metro
      </div>
    </div>
  </p>

  <div class="results">
    <div class="result-header mb-3"> Ecuaciones de Equilibrio:</div>
    <p id="fx-container">

    </p>
    <p id="fy-container">
    </p>
  </div>

</div>
<div class="image_container">
  <%if @task.image.present?  %>
    <%= image_tag @task.image, style: "width: 200px" %>
  <%end %>
</div>
<canvas id="canvas"></canvas>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del vector</h5>
        <button type="button" class="close close-vector-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <label for="vector-force"> Fuerza del vector</label>
          <input type="text" id="vector-force">
        </p>
        <p>
          <label for="vector-force"> Angulo del vector</label>
          <input type="text" id="vector-angle">
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-vector-modal" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="create-vector">Crear</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Momentum -->
<div class="modal fade" id="exampleModalMomentum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del momentum</h5>
        <button type="button" class="close close-vector-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <label for="momentum-force"> Magnitud del momentum</label>
          <input type="text" id="momentum-force">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-momentum-modal" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="create-momentum">Crear</button>
      </div>
    </div>
  </div>
</div>