<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre Tarea</th>
    <th scope="col">Profesor</th>
    <th scope="col">Dificultad</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr class="tr-task-id-<%=t.id %>">
        <td>
          <a href="/task/<%=t.id %>/edit"><%=t.id %></a>
        </td>
        <td>
          <%= t.name %>
        </td>
        <td>
          <%= t.professor.name %>
        </td>
        <td>
          <%= t.category %>
        </td>
        <td>
          <%= form_with url: delete_task_url , remote: true do |form| %>
            <%= form.hidden_field :id, value: t.id %>
            <%= form.submit "Borrar" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>