<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Rol</th>
  </tr>
  </thead>
  <tbody>
  <% @profesores.each do |t| %>
    <tr class="tr-task-id-<%=t.id %>">
      <td>
        <label><%=t.id %></label>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        Profesor
      </td>
    </tr>
  <% end %>
  <% @estudiantes.each do |t| %>
    <tr class="tr-task-id-<%=t.id %>">
      <td>
        <a href="/user/<%=t.id %>/profile"><%=t.id %></a>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        Estudiante
      </td>
    </tr>
  <% end %>
  </tbody>
</table>